!!!
%html
  %head
    %meta{content: "text/html; charset=utf-8", "http-equiv" => "content-type"}/
    %title
    %meta{content: "Sinclair", name: "author"}/
    %meta{content: "20121126;18580000", name: "created"}/
    %meta{content: "Sinclair", name: "changedby"}/
    %meta{content: "20121126;19140000", name: "changed"}/
    %link{href: "style.css", rel: "stylesheet", type: "text/css"}/
  %body
    #info
      %p#name Austin Vecchio
      %p 430 Woodlawn Avenue / Belleair, Fl 33756
      %p (c)727-252-3418 / au.vecchio@gmail.com
    #exp
      %p#header Work Experience:
      %ul
        %li
          %p Mitre Corporation: 			June 11 – Present
          %ul
            %li
              %p Freshman 1: Created ruby on rails application tunneling through a java application to control python scripts. Transcoded python to java.
            %li
              %p Freshman 2: Operate web apps to query using json and soap with security protocols.
            %li
              %p Sophomore 1: Built ozone widgets (front-end/back-end) to manage snapshots of other ozone widgets and compile meta data into an XML file
    %p
      %br/
    #obj
      %p#header Objective:
      %p Seeking co-op in the field of computer science, where a work environment will both challenge my capabilities and hone my skills while applying my knowledge to real world applications.
    %p
      %br/
    #edu
      %p#header Education:
      %ul
        %li
          %p Kettering University, Flint, MI
          %ul
            %li
              %p Status: Sophomore 1 – B-Section (Available for co-op Jan-March, July-Sept)
            %li
              %p Major: Computer Science   |   Minor: Systems & Data Security/Computer Engineering
    %p
      %br/
    #skill
      %p#header Skills:
      %ul
        %li
          %p Computer Science:
        %ul
          %li
            %p Scripting - Ruby, Java, Web Design(Js/Css/Html), PHP, Databases(Sql/Mongo)
            %p
          %li
            %p Frameworks – Chef, Rails, Jruby, Jquery, Soap, PEP
          %li
            %p Tools – Git, Vim, Wireshark, Nmap
        %li
          %p Computer Engineering: Digital Systems, networking(wired/wireless).
        %li
          %p Mechanical Engineering: Cad modeling in Autodesk Inventor, G & M coding
        %li
          %p Other: Aerodynamics, robotics, rockets, airfoils
        %li
          %p Environments: Ubuntu, Backtrack, OSX, Windows
        %li
          %p Interests: Simulation, Vision, AI, Cybersecurity, Robotics
    %p
      %br/
    #activ
      %p#header Activities:
      %ul
        %li
          %p Robotics Software Mentor (Team 79) Since Spring 2013
        %li
          %p Cybersecurity Pilot Program at Sypris – Summer 2011
        %li
          %p Cybersecurity Competition Mitre – Summer 2012
        %li
          %p Piano, Archery
    #ref
      %p
        %span#header Github
        \- https://github.com/avecchio
      %p
        %span#header References
        \- Available upon request
    %p
      %br/