body{
	height:11in;
	width:8.5in;
	margin-top:0in;
	margin-bottom:0in;
	margin-right:0.79in;
	margin-left:0.79in;
}
#header{
	font-size:14pt;
	font-weight:bold;
}
#info,#ref {
	text-align:center;
}
#info{font-weight:bold;}
#name{font-size:20pt;}
